*, body, .navbar {
	background-color: aliceblue !important;
	color:black !important;
}

body {
	font-family: Arial, sans-serif;
}

ul {
	display: flex;
	justify-content: space-evenly !important;
}

#nav {
	display: flex;
	justify-content: space-between;
}

.hamburger {
	display: none;
	cursor: pointer;
	padding: 5px 0px;
	width: 100%;
	height: 0%;
	float: left;
}

.hamburger-line {
	width: 25px;
	height: 3px;
	color: teal;
	background-color: teal !important;
	margin: 4px 0;
}

.menu {
	position: absolute;

	background-color: transparent !important;
	height: 20%;
	width: 90%;
	margin: auto;
}

	.menu ul {
		list-style: none;
		background-color: aliceblue !important;
		margin-top: -5px;
	}
	
	.menu li {	
		font-size: 1.4rem;
		width: 100%;
		padding-top: 5px;
		padding-bottom: -5px;
		text-align: center;
	}

	.menu a {
		text-decoration: none;
		color: #333;
	}

#homePage {
	padding:3% 5%;
	margin-top: 2%;
	display: flex;
	justify-content: space-evenly;
	font-size:1.2rem;
}

.userRules {
	display: flex;
	flex-direction: column;
}

.indexLinks {
	display: flex;
	float: right;
	flex-direction: column;
}

	.indexLinks #logout {
		color: red;
		font-size: 1.5rem;
		text-decoration: none;
		width: 100%;
	}

@media (max-width: 708px) {
	.menu {
		background-color: transparent !important;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		margin: auto;
		margin-left: 7%;
		top: 5%;
		border-radius: 1rem;
	}

	.hamburger {
		display: block;
		color: teal;
		height: 20%;
	}

	.menu {
		margin-top: 12%;
	}

		.menu ul {
			display: flex;
			width: 100%;
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			flex-direction: column;
		}

	#homePage {
		border: 1px solid blue;
		margin-top: 5%;
		display: flex;
		flex-direction: column-reverse;
	}

	.indexLinks #logout {
		text-align: end;
		color: red;
		font-size: 1.5rem;
		text-decoration: none;
		width: 100%;
	}

	.indexLinks a {
		font-size: 1.4rem;
	}

	.indexLinks {
		border: 1px solid blue;
		float: right;
	}
}
.menuBtns {
	border: 2px solid teal;
	padding:2%;
	border-radius:0.5rem;
	display: flex;
	margin-top: 5%;
	justify-content: space-evenly;
}

	.menuBtns div button {
		border: none;
		border-radius: 0.5rem;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	}
.uploadCreate {
	width: 100%;
	display: flex;
	padding: 1%;
	flex-direction: row-reverse;
	justify-content: space-between;
}
	.uploadCreate a {
		font-size: large;
	}

#upload {
	width: 70%;
	font-size: 1rem !important;
}

#uploadBtn {
	padding: 1%;
	float:right;
	border-radius: 0.5rem;
}

#account, #registerForm {
	border: 1px solid black;
	width: 45vw;
	margin: auto;
	padding: 10%
}

	#account .form-group, #registerForm .form-group {
		display: flex;
		align-items: center;
	}

#forgotPasswordForm input {
	width: 190%;
}

#login-submit {
	margin: auto;
}

#forgotSubmit {
	font-size: 1.6rem;
	padding: 0% 2%;
	float: right;
}

#registerSubmit {
	background-color: teal;
	border: 1px solid red;
	width: 60%;
	margin: auto;
}

#registerForm {
	border: 1px solid red;
	padding: 10%;
	margin: auto;
}

	#registerForm div {
		padding: 5%;
		margin: auto;
		border: 1px solid red;
	}

		#registerForm div input {
			width: 100%;
			margin: auto;
			border: 1px solid red;
		}

#userInfo {
	margin: auto;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.userNav li {
	width: 95%;
	margin: auto;
}

li .login, li .register {
	padding-left: 5%;
}

#logout {
	margin: auto;
	text-decoration: none;
	font-size: 1.3rem;
}

	#logout:hover {
		border: 3px solid teal;
		transform: scale(1.01);
		border-radius: 0.5rem;
		font-weight: 600;
	}

#editLink a {
	font-size: 1.3rem;
}

#details {
	display: flex;

	flex-direction: column;
	height:80vh;
}


#flexDeets {
	width: 75vw;
	column-gap: 2%;
	row-gap: 13%;
	display: grid;

	grid-template-columns: repeat(3, 1fr);
}

.innerDeets {
	display: flex;
	text-align: center;
	justify-content: space-between;
	padding: 1%;
}

	.innerDeets h6 {
		font-weight: 600;
	}

#grid {
	width: 100%;
	column-gap: 2%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

	#grid div {
		width: fit-content;
	}

@media (min-width: 700px) {
	#details {
	height:65vh
	}
		#flexDeets {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1200px) {
	#flexDeets {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media(min-width: 727px) {
	#grid {
		grid-template-columns: repeat(3, 1fr);
		align-self: center;
		width: 75vw;
	}
}


@media (max-width: 700px) {
	#grid {
		grid-template-columns: repeat(2, 1fr);
	}

	#masterGrid input {
		width: 45%;
	}

	#flexDeets {
		row-gap: 7%;
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 428px) {
	#grid {
		grid-template-columns: repeat(1, 1fr);
		align-content: center;
		padding-left: 5%;
		margin: auto;
	}

		#grid div {
			width: 70%;
		}
}
